.token.unicode {
  color: #bbb !important;
}

.token.curly-param {
  color: #2979ff !important;
}

.token.tag {
  color: #ff1744 !important; /* 亮红色 */
}

.token.self-closing-tag {
  color: #006400 !important; /* 暗绿色 */
}

.token.attr-value {
  color: #bbb !important;
}

.token.punctuation {
  color: inherit !important;
}

/* 标签内容的样式 */
.token.tag-content .content {
  font-weight: bold !important;
  color: #2c3e50 !important;
  background-color: rgba(44, 62, 80, 0.1) !important;
  padding: 0 2px !important;
  border-radius: 2px !important;
}

/* 未闭合标签的内容样式 */
.token.tag-content:not(:has(.tag)) .content {
  background-color: rgba(255, 0, 0, 0.1) !important;
  border: 1px dashed #ff0000 !important;
}

.token-bold, .token.tag, .token-bold .token.tag {
  background-color: rgba(255, 23, 68, 0.10) !important;
} 